<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS와 js -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" > </script>
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
   
    <title>게시판</title>
</head>
<body>
<!-- 게시판 페이지 -->
    <p><a href='/login'>로그인 페이지로</a></p>
    <p><a href='/register'>회원가입 페이지로</a></p>
    <p><a href='/board'>게시판 페이지로</a></p>
</body>

</html>