<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JINJA Practice</title>
</head>

<body>
    <h2>게시글 작성하기</h2>
    <form action="/" method="POST">
        <p>
            <input name='name'>
        </p>
        <p>
            <input name='content'>
        </p>
        <button type="submit">제출</button>
    </form>
    <hr>
<!-- board = [
    {'name': 'elice', 'content': 'my name is elice!'},
    {'name': 'oliver', 'content': 'my name is oliver!'},
    {'name': 'teddy', 'content': 'my name is teddy!'},
    {'name': 'tony', 'content': 'my name is tony!'},
] -->    
    <h5>한 번에 출력하기</h5>
    <!-- 한 번에 값을 출력하는 코드를 작성하세요. -->
    <p> {{ board }} </p>
    <hr>

    <h5>한 개씩 출력하기</h5>
    <!-- 한 개씩 출력하는 코드를 작성하세요. -->
    {% for b in board %}
        <p> {{ b }} </p>
    {% endfor %}
    <hr>
    <h5>name이 'oliver'인 경우에만 content를 출력하기</h5>
    <!-- 조건에 따라 값을 출력하는 코드를 작성하세요.-->
    {% for b in board %}
        {% if b['name'] == 'oliver'  %} 
            <p> {{ b }} </p>
        {% endif %}
    {% endfor %}
  
</body>

</html>