<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS와 js -->
    <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}" > </script>
    <link href="{{url_for('static',filename='bootstrap.min.css')}}" rel="stylesheet">
    <title>게시판</title>
</head>
<body>
    <p>
    <div>
        여러분의 글을 작성 해 주세요
        <textarea></textarea>
    </div>
    </p>>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">제목</h5>
            <h6 class="card-subtitle mb-2 text-muted">부제목</h6>
            <p class="card-text">
                내옹
            </p>
            <a href="#" class="card-link">link 1</a>
            <a href="#" class="card-link">link 2</a>
        </div>
    </div>
</body>

</html>